body {
  text-align: center;
  font-size: 40px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

h1, h2, h3{
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
  border:70%;
}

nav  {
  list-style-type: none;
  overflow: hidden;
  position: -webkit-sticky;
}
.troll {
  float: left;
}

.j{
  background-color: rgb(92, 3, 127);
}

.k{
  background-color: rgb(41, 76, 153);
}
li a {
  text-decoration: none;
  text-align: center;
}
.troll{
  color: rgb(57, 82, 122);
}
li a:hover {
  background-color: rgb(223, 239, 162);
}
h5  {
  list-style-type: none;
  overflow: hidden;
  position: -webkit-sticky;
}
li h5 {
  text-decoration: none;
  text-align: center;
}
